.input-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.input-container label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #333;
}

.input-element {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s ease;
}

.input-element:focus {
  border-color: #ffcc00;
  outline: none;
}
