.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  
  background-image: url('/Pages/ajout.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.login-container form {
  background-color: white;
  padding: 2.5rem;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 400px;
}

.login-container h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #003366; 
  font-size: 1.8rem;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #b3d1ff;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.login-container input:focus {
  border-color: #3399ff;
  outline: none;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background-color: #3399ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: #0073e6;
}
